h1 ,h2
{
    font-size: 48px;
    color: #333;
    text-align: center;
    text-shadow: 2px 2px 4px #aaa;
    margin-top: 50px;
    margin-bottom: 50px;
}
table
{
    border-collapse: collapse;
    width: 100%;
}
th
{
    color: #333; 
    font-family: Arial; 
    font-size: 32px; 
    text-shadow: 2px 2px 4px #aaa;
    font-weight: bold; 
    border: 1px solid #ccc; 
    padding: 32px; 
    text-align: center; 
    vertical-align: middle; 
}
td 
{
    text-align: center;
    padding: 20px;
    font-weight: bold;
    border: 1px solid black;
}
.passed
{
    color: springgreen;
}
.not_passed
{
    color: red;
}

.first_passed
{
    color: green;
}



.shang {
    background-color: black; 
    border: none; 
    color: white; 
    padding: 12px 24px; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 20px; 
}

.shang:hover {
    background-color: red; 
}

#li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 800px;
    overflow: hidden;
    position: relative;
}


h3
{
    font-size: 24px;
    color: #333;
    text-align: center;
    text-shadow: 2px 2px 4px #aaa;
}